@font-face {
  font-family: FrancoisOne ;
  src: url(../src/components/assets/recursos/fonts/Francois_One/FrancoisOne-Regular.ttf);
  font-family: GildaDisplay;
  src: url(../src/components/assets/recursos/fonts/Gilda_Display/GildaDisplay-Regular.ttf);
  font-family: Quicksand;
  src: url(../src/components/assets/recursos/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: FrancoisOne;
}
